//
// _buttons.scss
//

button,
a {
  outline: none !important;
}

// Rounded Buttons
.btn-rounded {
  border-radius: 30px;
}

.btn-dark,
.btn-secondary {
  color: $gray-200 !important;
}
// .bbttnn1{
//   // margin-right: 5px;
//   // background-color: green;
//   // color: white;
// }
// .bbttnn2{
//   // margin-right: 5px;
//   // background-color: #f43b1e;
//   // border-color: #f43b1e;
//   // color: white;
// }